.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-container {
  display: flex;
  margin-top: 20px; /* Adjust as needed */
}

.emotion-list-container {
  margin-right: 40px; /* Adjust as needed */
}

.video-player-container {
  margin-top: 190px;
}
.control-panel-container {
  margin-top: 1px; /* Adjust as needed */
}

.emotion-list {
  margin-right: 180px;
  margin-top: 40px;
}

  
  .emul {
    list-style: none;
    padding: 0;
  }
  
  .emli {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  button {
    padding: 8px 12px;
    background-color: rgb(22, 37, 57);
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .list-btn {
    background-color: rgb(22, 37, 57);
    padding: 15px 50px;
    border-radius: 9px;
    font-size: 25px;
  }
  .list-btn.selected {
    background-color: #2a333d;
    padding: 15px 50px;
    border-radius: 9px;
    font-size: 25px;
  }
  .stn-btn:hover {
    background-color: #8b8e91;
  }
  .stn-btn.selected-stn {
    background-color: #20c45c;
  }

  .list-btn:hover {
    background-color: #2d4a68;
  }

  .cp-btn {
    margin-left: 10px !important;
    margin-top: 10px;
    background-color: #031427;
    padding: 5px 10px !important;
    border-radius: 9px;
    font-size: 16px;
  }
  .cp-btn.selected {
    background-color: #2a333d !important;
  }

  .cp-btn:hover {
    background-color: #142b44;
  }
  .cp-body {
    margin-left: 500px;
  }

  button:hover {
    background-color: #031427;
  }
  
  .video-player {
    text-align: center;
  }

  .btn.selected {
    background-color: #43494e;
    /* Add any additional styling for the selected state */
  }

  .cp-btn.alert {
    background-color: #ca2923;
    margin-left: 50px;
    margin-top: 10px;
    padding: 10px 50px;
    border-radius: 9px;
    font-size: 16px;
    color: white;
  }
  
  .cp-btn.alert:hover {
    background-color: #ad6b69;
  }
  
  .cp-btn.alert:active {
    background-color: #5f5757;
  }

  .sentence-emotion-list {
    display: flex;
    margin-top: 100px;
  }
  .sentence-list {
    margin-top: 100px;
  }
  .stn-btn {
    border-radius: 5px;
    background-color: #51565a;
    font-weight: 500;
    font-size: large;
  }